<script type="text/x-template" id="indexBanner">
    <div v-for="(item, index) in bannerimg"
            :key="index"
            :style="setImageStyle(item)"
            :class="{'fade-in': index === currentIndex}"
            class="position-absolute index-banner-img"></div>
</script>

<script>
    const indexBanner = () => {
        const bannerimg = ref(['../img/1.jpg', '../img/2.jpg']);
        const currentIndex = ref(0);
        const timeStart = ref(5000);

        const startImageSwitching = () => {
            if (bannerimg.value.length <= 1)
                return;

            setInterval(() => {
                currentIndex.value = (currentIndex.value + 1) % bannerimg.value.length;
            }, timeStart.value); // 每秒切换一次
        }

        const setImageStyle = (image) => {
            return {
                backgroundImage: `url(${image})`,
            }
        }

        return {
            bannerimg,
            currentIndex,
            startImageSwitching,
            setImageStyle
        }
    }

    const indexBannerOption = {
        template: '#indexBanner',
        setup() {
            const {
                bannerimg,
                currentIndex,
                startImageSwitching,
                setImageStyle
            } = indexBanner();

            onMounted(() => startImageSwitching());

            return {
                bannerimg,
                currentIndex,
                startImageSwitching,
                setImageStyle
            };
        }
    }

    const backgroundImgChange = createApp({
        components: {
            'index-banner': indexBannerOption
        }
    });
    backgroundImgChange.mount("#backgroundImgChange");
</script>





