<div class="container-fluid p-0 position-relative index-banner">
    <div id="backgroundImgChange">
        <index-banner></index-banner>
    </div>
        
    <div class="container-fluid h-100 index-banner-content">
        <div class="row row-cols-1 h-100">
            <div class="col text-center text-light align-content-center">
                <h1 class="animate__animated animate__backInLeft">Demo Venue Rental</h1>
                <h3 class="animate__animated animate__backInRight">Test Rental</h3>
            </div>
            <div class="col align-content-center">
                <div class="row justify-content-center">
                    <div v-for="(item, index) in selectTypes" :key="index" class="col-4 col-sm-3 col-lg-2 animate__animated animate__fadeInDown">
                        <index-select-type :select-type="item.data" v-on:data-change="(text) => fnChangeText(index, text)"></index-select-type>
                    </div>
                    <div class="col-4 col-sm-3 col-lg-2 animate__animated animate__fadeInDown">                        
                        <button type="button" class="btn btn-danger w-100" v-on:click="search">找尋場所</button>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</div>

@section Scripts{
    <script src="pagesjs/Index.js" asp-append-version="true" type="module"></script>
}


