<div class="container">
    <div class="row">
        <div class="col">新增場地</div>
        <div class="col">場地1</div>
        <div class="col">場地1</div>
        <div class="col">場地1</div>
        <div class="col">場地1</div>
        <div class="col">場地1</div>
    </div>
</div>

