<div class="container pt-3">
    <div class="row row-cols-auto g-4 justify-content-start">
        <div class="col">
            <div v-on:click="LinkEditUrl(0)" class="card d-flex justify-content-center align-items-center" style="width: 12rem;height:12rem;cursor:pointer;">
                <div class="d-flex justify-content-center align-items-center" style="width:10rem;height:10rem;">
                    <i class="fa-solid fa-circle-plus fa-2x"></i><br />
                    <p class="card-text">新增場地</p>
                </div>
            </div>
        </div>
        <div v-for="(items) in 15" class="col" style="cursor:pointer;">
            <div class="card" style="width: 12rem;">
                <img src="~/img/3.jpg" class="card-img-top" />
                <div class="card-body text-center">
                    <p class="card-text text-truncate" style="width: 10rem;">中和運動{{items * 1000 * Math.random()}}公園中和運動公{{items * 1000 * Math.random()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/pagesjs/placemanage.js" asp-append-version="true" type="module"></script>
}