@model DemoVenueRental.Models.PlaceViewModel

<div class="container pt-3">
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">場所資訊</button>
        <button class="nav-link" id="nav-type-tab" data-bs-toggle="tab" data-bs-target="#nav-type" type="button" role="tab" aria-controls="nav-type" aria-selected="true">場所類型</button>
        <button class="nav-link" id="nav-img-tab" data-bs-toggle="tab" data-bs-target="#nav-img" type="button" role="tab" aria-controls="nav-img" aria-selected="false">場所圖片</button>
    </div>
    <div class="tab-content" id="PlaceEditTab">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form class="container-fluid" method="post">
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" v-model="placeInfo.placeInfo.name" class="form-control" placeholder="場所名稱" asp-for="PlaceInfo.Name">
                            <label asp-for="PlaceInfo.Name">場所名稱</label>
                            <span asp-validation-for="PlaceInfo.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select class="form-control"
                            v-model="placeInfo.placeInfo.cityId" asp-for="PlaceInfo.CityId">
                                <option value="" disabled>場所地址</option>
                                <option v-for="(item, index) in areaList" :key="index" :value="item.selectTypeId">{{ item.name }}</option>
                            </select>
                            <label asp-for="PlaceInfo.CityId">場所地址</label>
                            <span asp-validation-for="PlaceInfo.CityId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-floating">
                            <input type="text" v-model="placeInfo.placeInfo.address" class="form-control" placeholder="場所地址" asp-for="PlaceInfo.Address">
                            <label asp-for="PlaceInfo.Address">場所地址</label>
                            <span asp-validation-for="PlaceInfo.Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-text">場地介紹</label>
                        <textarea v-model="placeInfo.placeInfo.describe" class="form-control" style="height: 100px" asp-for="PlaceInfo.Describe"></textarea>
                    </div>
                    <div class="col-12">
                        <label class="form-text">場地規則</label>
                        <textarea v-model="placeInfo.placeInfo.rules" class="form-control" style="height: 100px" asp-for="PlaceInfo.Rules"></textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" v-on:click="nextDone" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="nav-type" role="tabpanel" aria-labelledby="nav-img-tab">
            <form class="container-fluid" method="post">
                <div class="row gy-4">
                    <div class="col">
                        <div class="form-check form-check-inline form-control-lg" v-for="(item, index) in sportList" :key="index">
                            <input class="form-check-input" type="checkbox" :value="item.selectTypeId" v-model="sportTypeList" :id="'checkbox-' + index">
                            <label class="form-check-label" :for="'checkbox-' + index">{{ item.name }}</label>
                        </div>
                        <div>
                            <span class="text-danger">{{sportTypeMessage}}</span>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" v-on:click="upDone" class="btn btn-primary">上一步</button>
                        <button type="button" v-on:click="nextDone" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="nav-img" role="tabpanel" aria-labelledby="nav-img-tab">
            <form class="container-fluid" method="post">
                <div class="row gy-4">
                    <div class="col">
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" v-on:click="upDone" class="btn btn-primary">上一步</button>
                        <button type="button" v-on:click="nextDone" class="btn btn-primary">下一步</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/pagesjs/PlaceEdit.js" asp-append-version="true" type="module"></script>
}
