<div id="app1">
    <register-option ref="testmodel"></register-option>
    <button type="button" v-on:click="onpageshow">show</button>
</div>

@section Scripts {
    <script>

        const registerOption1 = defineAsyncComponent(async () => {
            //const template = await loadTemplate('/Template/_Test');
            return {
                template: await loadTemplate('/Template/_Test'),
                setup() {
                    const aaaa = ref('213123123');

                    const onpageshow = () => {
                        console.log('ssssss');
                        $("#exampleModal1").modal("show");
                    }

                    return {
                        aaaa,
                        onpageshow
                    }
                }
            }
        });

        const app1 = createApp({
            components: {
                        'register-option': registerOption1,
            },
            setup() {

                const testmodel = ref(null);

                const onpageshow = () => {
                    console.log('onpageshow');
                    if(testmodel.value != null){
                        testmodel.value.onpageshow();
                    }
                }

                return {
                    testmodel,
                    onpageshow
                }
            }
        });

        app1.mount('#app1');
    </script>
}
