<div id="app">
    <div v-if="show">
        <template v-if="isLoggedIn">
            <p>Welcome back, user!</p>
        </template>
        <template v-else>
            <p>Please log in.</p>
        </template>
    </div>
</div>

@section Scripts {

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    show: true,
                    isLoggedIn: false
                };
            }
        });

        var myapp = app.mount('#app');
        myapp.isLoggedIn = true;
    </script>
}



