html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    padding-top: 50px;
}

/*------------------Index----------------------*/
.index-banner {
    height: 420px;
}

.index-banner-img {
    width: 100%;
    height: 420px; /* 固定的高度 */
    background-size: cover; /* 確保圖片覆蓋整個容器，並保持比例 */
    background-position: center; /* 確保圖片顯示中間部分 */
    background-repeat: no-repeat; /* 防止圖片重複 */
    overflow: hidden; /* 隱藏超出部分 */
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: -1;
}

    .index-banner-img.fade-in {
        opacity: 1;
    }

.index-banner-content {
    background-color: #00000026;
}

.dropdown-menu li{
    cursor:pointer;
}

/*------------------Index----------------------*/